{% extends "base.html" %}
{% block title %}Immaculate Conception of Copperton{% endblock %}
{% block content %}
  <div align="center">
    <img src="/pdf/iclogo.png" alt="IC_Logo"/>
            <!-- web LINK = "https://drive.google.com/file/d/1jvoZXWF-w3bjnVetOtGp7_ThO8sLe3y5/view?usp=sharing" alt="IC Logo"> -->
  </div>
    <h1 align="center">Religious quotes API call - pull in religious quotes of the day??</h1>
    <h1 align="center">Digital Bulletin Board/Upcoming Events/Etc</h1>
    <h1 align="center">Functional Map</h1>
   

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="file:///G:/My%20Drive/Bulletins/bulletinpg1.pdf" class="d-block w-100" alt="Page 1 & 4">
        </div>
        <div class="carousel-item">
          <img src="file:///G:/My%20Drive/Bulletins/bulletinpg2.pdf" class="d-block w-100" alt="Page 2 & 3">
        </div>
        <!-- <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div> -->
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form> -->
{% endblock %}