{% extends "base/base.html" %}
{% block title %}Bulletin{% endblock %}
{% block content %}
  <div class="rowone">
    <div class="columnone">
      <div align="left">
        <a>
        <img title="bulletin1" src=/static/images/bulletin1.jpg alt="bulletin1"/><br/><br/><br/>
        </a>
        <a>
        <img title="bulletin2" src=/static/images/bulletin2.jpg alt="bulletin2"/><br/><br/><br/>
        </a>
        <a>
        <img title="bulletin3" src=/static/images/bulletin3.jpg alt="bulletin3"/><br/><br/><br/>
        </a>
        <a>
        <img title="bulletin4" src=/static/images/bulletin4.jpg alt="bulletin4"/><br/><br/><br/>
        </a>
      </div>  
    </div>
    <div class="columntwo">
      <div align="center">
        <a>
        <img title="iclogo" src=/static/images/iclogo.png alt="iclogo"/><br/><br/><br/>
        </a>
      </div>
    </div>
    <div class="columnthree">
      <h1 align="right">Meetings</h1>
      <h1 align="right">Future KoC Events</h1>
    </div>
  </div>
{% endblock %}