{% extends "base/base.html" %}
{% block title %}Bulletin{% endblock %}
{% block content %}
    <h1 align="center">Meetings</h1>
    <h1 align="center">Future KoC Events</h1>
 
    <div align="center">
        <a href=file:///G:/My%20Drive/Bulletins/bulletinpg1.pdf>
        <img title="bulletinpg1" src=/static/images/bulletinpg1.png alt="bulletinpg1" /><br /><br /><br />
        </a>
    </div>  
    <div align="center">
        <a href=file:///G:/My%20Drive/Bulletins/bulletinpg2.pdf>
        <img title="bulletinpg2" src=/static/images/bulletinpg2.png alt="bulletinpg2" /><br /><br /><br />
        </a>
    </div>  
    <div align="center">
        <a href=https://drive.google.com/file/d/1jvoZXWF-w3bjnVetOtGp7_ThO8sLe3y5/view?usp=sharing>
        <img title="iclogo" src=/static/images/iclogo.png alt="iclogo" /><br /><br /><br />
        </a>
    </div>  
    </div>
{% endblock %}