{% extends "base/base.html" %}
{% block title %}KoC: 17140{% endblock %}
{% block content %}

<h1 align="center"> Knights of Columbus Council Number 17140
  <!-- Facebook -->     <!-- <h1 align="center">Facebook Link to Page: https://www.facebook.com/KoC17140/?ref=pages_you_manage </h1> -->

<a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/KoC17140" role="button">
  <i class="fa fa-facebook-f"></i>
</a>
</h1>

<div class="homecontainer">
  <div class="col-left" align="center">
    <h3 strong>Quote of the Month</h3>
 <p>
   “Without the burden of afflictions it is 
   impossible to reach the height of grace.  
   The gift of grace increases as the 
   struggle increases.”  
   
   <p>~ St. Rose of Lima</p>
  </p>
  <h3 strong>KoC Articles</h3>
  <p>
    <li>
    <a href="https://www.amadorcatholic.com/10-ways-to-grow-your-faith"> 10 Ways to Grow Your Faith </a>
    </li>
    <li>
    <a href="https://www.goodcatholic.com/tips-for-catholics-dealing-with-anxiety/"> Tips for Catholics Dealing With Anxiety </a>
    </li>
  </p>
  <h3 strong> KoC Resources </h3>
  <p>
      <li>
        <a href="https://www.kofc.org/en//index.html"> KoC Website </a>
      </li>
  </p>

    </div>
    <div class="form-right" align="right">
      <div>
        <script src="https://www.cognitoforms.com/f/seamless.js" data-key="I_i4gyNtHEmOR1ST4litug" data-form="1"></script>
          </div>
    </div>
  </div>

{% endblock %}