{% extends "base/base.html" %}
{% block title %}Immaculate Conception of Copperton{% endblock %}
{% block content %}

<div class="rowone">
  <div class="columnone">
    Prayers or Bible Verses??

  </div>
  <div class="columntwo">
    <div align="center">
      <div class="parent" inline-block="left">
        <a>
        <img title="iclogo" src=/static/images/iclogo.png alt="iclogo" /><br /><br /><br />
        </a>
      </div>
    </div>

  </div>
  <div class="columnthree">
    <div align="right">
      <a image=/static/images/bkground_19.jpg><br /><br /><br />
      <img title="post1 photo" src=/static/images/bkground_19.jpg alt="post1 photo" /><br /><br /><br />
      </a><br /><br /><br />
    </div>
</div>
</div>
  
</div> 

<!-- <h1 align="center">Functional Map</h1> -->

<!-- <div align="center">
  <a href=https://www.christianquotes.info/pfd/thumbs/ChristianQuotesinfo/2.php><br /><br /><br />
  <img title="post1 photo" src=https://www.christianquotes.info/pfd/thumbs/ChristianQuotesinfo/1.jpg alt="post1 photo" /><br /><br /><br />
  </a><br /><br /><br />
</div> -->
   

<!-- <h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->
{% endblock %}