{% extends "base/base.html" %}
{% block title %}Immaculate Conception of Copperton{% endblock %}
{% block content %}

<div class="homecontainer">
  <div class="col-left" align="center">
   <h3 strong>Prayer of the Month</h3>
    <p>
      O MOTHER of blessedness and most august Sanctuary of the Holy Ghost, I praise and greet thee, 
      and with most devout intention of mind recall to thee that unspeakable joy which thou didst 
      feel when with calmest trustfulness thou didst commend to the Divine Will thy whole unreserved 
      self, and all that was to be done to thee and in thee, saying: Behold the handmaid of the Lord: 
      beseeching thee that thou wouldst show thyself my Mother, and evermore succour me with the 
      saving help of thy compassionate heart. 
      <p>Amen.</p>  
    </p>

    <h3 strong>Verse of the Month</h3>
    <p>
          1 That which was from the beginning,
        that which we have heard, that which we
        have seen with our eyes, that which we
        saw, and our hands touched, concerning
        the Word of life 2 (and the life was revealed,
        and we have seen, and testify, and declare
        to you the life, the eternal life, which was
        with the Father, and was revealed to us);
        3 that which we have seen and heard we
        declare to you, that you also may have
        fellowship with us. Yes, and our fellowship
        is with the Father and with his Son, Jesus
        Christ.* 4 And we write these things to you,
        that our joy may be fulfilled.
    </p>
    <p>  
          5 This is the message which we have
        heard from him and announce to you, that
        God is light, and in him is no darkness at
        all. 6 If we say that we have fellowship
        with him and walk in the darkness, we
        lie and don’t tell the truth. 7 But if we
        walk in the light as he is in the light, we
        have fellowship with one another, and the
        blood of Jesus Christ his Son, cleanses us
        from all sin. 8 If we say that we have no sin,
        we deceive ourselves, and the truth is not
        in us. 9 If we confess our sins, he is faithful
        and righteous to forgive us the sins and to
        cleanse us from all unrighteousness. 10 If
        we say that we haven’t sinned, we make
        him a liar, and his word is not in us.
    </p>
        <p> ~ 1 John 1:1 </p>
   
    <!-- (psuedo code bible verse)
   When @home.html

   If today (or new day)
   
    select verse from catholic bible
    
    printverse()

    (psuedo code Prayers)
    When @home.html
 
    If today (or new day)
    
     select new catholic prayer from pdf
     
     printprayer()
 


    https://www.catholic.org/bible/
     -->
  </div>
  <div class="col-center" align="center">
    <img title="iclogo" src=/static/images/iclogo.png alt="iclogo"/><br /><br /><br />
  </div>



  <div class="col-right" align="center">
       <h3 strong>Quote of the Month</h3>
    <p>
      “Without the burden of afflictions it is 
      impossible to reach the height of grace.  
      The gift of grace increases as the 
      struggle increases.”  
      
      <p>~ St. Rose of Lima</p>
      
      <!--  https://mycatholic.life/inspiring-quotes/  -->
      <!-- Each week pick quote from Inspiring quotes from Catholic Saints (OR) Quotes on Suffering
      
      if Lent (find dates) the pick from Quotes for Lent (OR) Quotes on Fasting
    
    -->
    </p>

    <h3 strong>Catholic Articles</h3>
    <p>
      <li>
      <a href="https://www.amadorcatholic.com/10-ways-to-grow-your-faith"> 10 Ways to Grow Your Faith </a>
      </li>
      <li>
      <a href="https://www.goodcatholic.com/tips-for-catholics-dealing-with-anxiety/"> Tips for Catholics Dealing With Anxiety </a>
      </li>
    </p>
    

    <h3 strong> Catholic Resources </h3>
    <p>
      <li>
      <a href="https://www.catholic.com/"> Catholic Answers </a>
      </li>
      <!-- <li>
      <a href="https://www.goodcatholic.com/tips-for-catholics-dealing-with-anxiety/"> Tips for Catholics Dealing With Anxiety </a>
      </li> -->
    </p>
    
    

  </div>
</div>




<!-- <h1 align="center">Functional Map</h1> -->

<!-- <div align="center">
  <a href=https://www.christianquotes.info/pfd/thumbs/ChristianQuotesinfo/2.php><br /><br /><br />
  <img title="post1 photo" src=https://www.christianquotes.info/pfd/thumbs/ChristianQuotesinfo/1.jpg alt="post1 photo" /><br /><br /><br />
  </a><br /><br /><br />
</div> -->
   

<!-- <h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->

    <!-- <div align="right">
      <img title="post1 photo" src=/static/images/bkground_19.jpg alt="post1 photo"/><br /><br /><br />
    </div> -->
{% endblock %}