{% extends "base.html" %}
{% block title %}Financial{% endblock %}
{% block content %}
    <h1 align="center">Reocurring Donations - (BL)</h1>
    <h1 align="center">One Time Donation - (BL)</h1>
    <h1 align="center">Donation Tracker??? - (BL)</h1>
{% endblock %}

<!-- 
-----I found what appears to be a good financial video but Youtube was acting up and would not play the video. -----

Accepting payments in Flask is straightforward using Stripe Checkout. All you need to do is redirect to Stripe's checkout page after creating a session, 
and Stripe will process the payment for you. In this video, I show you exactly how you can get started with payments in Flask using Stripe Checkout.
Need one-on-one help with your project? I can help through my coaching program. Learn more here: https://prettyprinted.com/coaching
Get the code here: https://prettyprinted.com/l/ccJ
Join my free course on the basics of Flask-SQLAlchemy: https://prettyprinted.com/flasksql

Documentation Referenced in Video:
https://stripe.com/docs/payments/chec...

https://stripe.com/docs/stripe-cli

Web Development Courses: https://prettyprinted.com

Subscribe: http://www.youtube.com/channel/UC-QDf...
Twitter: https://twitter.com/pretty_printed
Github: https://github.com/prettyprinted -->