{% extends "base.html" %}
{% block title %}KoC: 17140{% endblock %}
{% block content %}
    <h1 align="center"> Council Number 17140
          <!-- Facebook -->
      <div>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/KoC17140" role="button">
        <i class="fa fa-facebook-f"></i>
        </a>
      </div>
    </h1>

    <h1 align="center">Project Knight - on the calender</h1>
    <!-- <h1 align="center">Meeting Minutes</h1> -->
    <h1 align="center">Member page - pics, bio, etc.?</h1>
    <!-- <h1 align="center">Meeting Schedule - On Calendar</h1> -->
    <!-- <h1 align="center">Facebook Link to Page: https://www.facebook.com/KoC17140/?ref=pages_you_manage </h1> -->

    <script src="https://www.cognitoforms.com/f/seamless.js" data-key="I_i4gyNtHEmOR1ST4litug" data-form="1"></script>



{% endblock %}