{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

    <h1 align="center">Phone Number/Address</h1>
    <h1 align="center">Mass Times</h1>
    <h1 align="center">Confession Times</h1>
    <h1 align="center">Digital Bulletin Board/Upcoming Events/Etc</h1>
    <h1 align="center">Sunday Social Sign Up</h1>
    <h1 align="center">Search Function</h1>
    <h1 align="center">Sacraments/Church Offering: CCD, First Communion, Etc</h1>
    <h1 align="center">New Parishioner Registration Forms - Digital</h1>

    <h1 align="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}
